.navbar {
    background-color: #ffffff;
    border-bottom: 0.5rem solid;
    border-bottom-color: #ffd977;
}

.navbar_brand {
    color: #008080;
    font-size: 2rem;
    font-weight: 900;
}

.nav_item {
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}